<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wwfinance.mapper.InvestmentListMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.wwfinance.entity.InvestmentList">
        <id column="id" property="id" />
        <result column="mobile" property="mobile" />
        <result column="loan_title" property="loanTitle" />
        <result column="loan_money" property="loanMoney" />
        <result column="borrow_year_rate" property="borrowYearRate" />
        <result column="loan_term" property="loanTerm" />
        <result column="repayment_type" property="repaymentType" />
        <result column="loan_progress" property="loanProgress" />
        <result column="operate" property="operate" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, mobile, loan_title, loan_money, borrow_year_rate, loan_term, Repayment_type, loan_progress, operate, create_time, update_time, is_deleted
    </sql>

    <select id="selectAllInvestmentList" resultType="com.wwfinance.entity.InvestmentList">
        select * from investment_list
    </select>

</mapper>
